* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #faf3f3;
  --primary-color: #da7f8f;
  --secondary-color: #afd4eb;
  --light-secondary-color: #e5e9ee;
}

body {
  background: var(--light-color);
}

.container {
  margin: auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section {
  margin: 40px auto;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  background: var(--light-secondary-color);
}

section > h2 {
  font-size: 40px;
  line-height: 4rem;
}

section .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 1.3rem;
}

section .grid .grid-item {
  font-size: 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  text-align: center;
  display: block;
  padding: 1rem 3rem;
  margin: 1rem;
}

.flex {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#quote {
  font-size: 60px;
  color: var(--primary-color);
}

#karaoke {
  font-size: 40px;
  color: var(--darken-secondary-color);
}

h4 {
  font-size: 30px;
}

.back-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  margin: 1rem;
}
